<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .text-body-emphasis {
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        max-width: 100%; 
    }
</style>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/images/balloon-heart.png" alt="" width="150" height="150">
        <h1 class="display-5 fw-bold text-body-emphasis">Blog dos Legais</h1>
        <div class="col-lg-6 mx-auto">
            <form action="/submit" method="POST"> <!-- Rota e método POST -->
                <div class="form-group">
                    <label for="title" class="form-label">Título:</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group mt-3">
                    <label for="multi-line" class="form-label">Post:</label>
                    <textarea class="form-control" id="multi-line" name="post" rows="4"></textarea> <!-- Ajuste no nome do campo -->
                </div>
                <button type="submit" class="btn btn-secondary btn-lg px-4 gap-3">Submit</button> <!-- Botão de submit -->
            </form>
        </div>
    </div>

    <div class="px-4 py-5 my-5">
        <h1 class="px-4 display-5 fw-bold text-body-emphasis text-center">Posts</h1>
        <hr>
        
        <% for(var i = 0; i < postas.length; i++) { %>
            <div class="col-lg-6 mx-auto mb-4">
                <h3 class="display-5 fw-bold text-body-emphasis"> <%= titulos[i] %> </h3>
                <p class="display-5 fw-bold text-body-emphasis"> <%= postas[i] %> </p>
            </div>
        <% } %>
        
        



    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
